*
{
    margin: 0;
    padding: 0;
}

body 
{
    background-color: rgb(19, 19, 19);
}

.codearea
{
    margin: 10px auto;
    width: 80%;
    height: 80vh;
    display: flex;
}

.editor 
{
    width: 100%;
    height: 100%;
}

#txtcode
{
    padding-top: 10px;
    position: absolute;
    z-index: 100;
    animation: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    color: rgba(0, 0, 0, 0);
    font-size: 16px;
    padding-bottom: 10px;
    caret-color: rgb(255, 255, 255);
}

.line_num
{
    padding-top: 10px;
    text-align: center;
    background-color: rgb(29, 29, 29);
    width: 5%;
    color: rgb(197, 197, 197);
    height: 100%;
    padding-bottom: 10px;
    overflow-y: auto;
}

.snippet 
{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    color: white;
}

.code 
{
    padding-top: 10px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgb(29, 29, 29);
    padding-bottom: 10px;
}

.code-font
{
    font-family: 'Consolas', sans-serif;
}

.kw 
{
    color: rgb(20, 207, 82);
}

.valuebool 
{
    color: rgb(179, 207, 20);
}

.valuechar 
{
    color: rgb(207, 163, 20);
}

.symbol 
{
    color: rgb(204, 36, 24);
}

.dec,.instr 
{
    color: rgb(11, 137, 240);
}

.rw 
{
    color: rgb(200, 76, 238);
}

.com 
{
    color: rgba(119, 119, 119, 0.781);
}

.transm
{
    color: rgb(182, 47, 7);
}

.valuenum
{
    color: rgb(86, 180, 136);
}

.valuestring
{
    color: rgb(196, 128, 64);
}

.line_num::-webkit-scrollbar 
{
    display: none;
}

.code::-webkit-scrollbar 
{
    display: none;
}

.title 
{
    font-family: "Consolas";
    text-align: center;
    margin: 15px 0;
    padding-right: 0;
    color: rgb(216, 216, 216);
}

.parsebtn,.execbtn,.uploadbtn,.downloadbtn 
{
    width: 70px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-left: none;
    border-right: solid rgba(128, 128, 128, 0.781) 1px;
    border-top: solid rgba(128, 128, 128, 0.781) 1px;
    border-bottom: solid rgba(128, 128, 128, 0.781) 1px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: background-color 0.2s ease;
    user-select: none;
    outline: none;
    position: relative;
}

.uploadbtn > *
{
    position: absolute;
    width: 70px;
    height: 50px;
    top: 0;
    left: 0;
}

.uploadbtn > div
{
    position: absolute;
    width: 70px;
    height: 50px;
    top: 8px;
    left: 0;
    cursor: pointer;
}

.execbtn:hover 
{
    background-color: rgb(60, 151, 90);
    border-color: rgb(60, 151, 90);
    cursor: pointer; 
}

.parsebtn:hover 
{
    background-color: rgb(206, 137, 33);
    border-color: rgb(206, 137, 33);
    cursor: pointer; 
}

.consoles
{
    font-family: "Consolas";
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 110;
    color: white;
    display: none;
}

.modal-body
{
    width: 70%;
    margin: 30px auto;
    height: 80%;
    background-color: black;
}

.full-header 
{
    width: 100%;
    display: flex;
    height: 34.5px;
    margin-bottom: 15px;
}

.header 
{
    width: 100%;
    height: 100%;
    background-color: rgb(12, 65, 124);
    line-height: 35px;
    padding-left: 15px;
    user-select: none;
}

.header:hover 
{
    cursor: grab;
}

.header:active 
{
    cursor: grabbing;
}

.quit
{
    text-align: right;
}

.quit button 
{
    font-weight: bold;
    font-family: "Consolas";
    font-size: 1em;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
    transition: background-color 0.1s ease;
    outline: none;
}

.error
{
    color: rgb(245, 41, 41);
}

.log 
{
    width: 100%;
    height: 90%;
    overflow-y: auto;
    padding-left: 25px;
}

.input 
{
    background-color: rgb(0, 0, 0);
    color: white;
    /*border: solid rgba(255, 255, 255, 0.438) 1px;*/
    border: none;
    outline: none;
    font-family: 'Consolas';
    padding-left: 2px;
}

@media only screen and (max-width: 1024px)
{
    .modal-body
    {
        width: 100%;
        margin: 0;
        height: 100%;
        background-color: black;
    }

    .codearea
    {
        margin: 0;
        width: 100%;
        height: 80vh;
    }

    .parsebtn-mobile, .execbtn-mobile, .uploadbtn-mobile, .downloadbtn-mobile
    {
        width: 70px;
        height: 50px;
        background-color: rgba(0, 0, 0, 0);
        color: white;
        border: solid rgba(128, 128, 128, 0.781) 1px;
        transition: background-color 0.2s ease;
        user-select: none;
        outline: none;
        cursor: pointer;
    }

    .uploadbtn-mobile 
    {
        padding-top: 8px;
        position: relative;
        top: 2.5px;
    }

    .btns-tools
    {
        width: 100%;
        height: 50px;
    }

    .execbtn-mobile:hover 
    {
        background-color: rgb(60, 151, 90);
        border-color: rgb(60, 151, 90);
        cursor: pointer; 
    }

    .parsebtn-mobile:hover 
    {
        background-color: rgb(206, 137, 33);
        border-color: rgb(206, 137, 33);
        cursor: pointer; 
    }

    .uploadbtn-mobile > *
    {
        position: absolute;
        width: 70px;
        height: 50px;
        top: 0;
        left: 0;
    }

    .uploadbtn-mobile > div
    {
        position: absolute;
        width: 70px;
        height: 50px;
        top: 8px;
        left: 0;
        cursor: pointer;
    }

    .line_num
    {
        width: 10%;
    }

    .tools-pc 
    {
        display: none;
    }
}

.navbar 
{
    font-family: 'Cairo';
}